//Text Styles

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

// Backgrounds

.bg {
  &-dark {
    background-color: $dark-color;
  }
}

//Buttons

.btn {
  display: inline-block;
  background-color: $light-color;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in;

  &.btn-outline-primary {
    color: #17a2b8;
    border: 1px solid #17a2b8;
    border-radius: 0.25rem;

    @include set-background($light-color);
    &:hover {
      background: lighten($primary-color, 5%);
    }
  }
  &.btn-outline-light {
    color: #f4f4f4;
    border: 1px solid #f4f4f4;
    border-radius: 0.25rem;

    @include set-background($dark-color);
    &:hover {
      background: lighten($light-color, 5%);
      color: #333;
    }
  }
  &.btn-outline-danger {
    color: #dc3545;
    border: 1px solid #dc3545;
    border-radius: 0.25rem;

    @include set-background($light-color);
    &:hover {
      background: lighten($danger-color, 5%);
      color: #333;
    }
  }
  &.btn-outline-success {
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: 0.25rem;

    @include set-background($light-color);
    &:hover {
      background: lighten($success-color, 5%);
      color: #333;
    }
  }
  &.btn-outline-dark {
    color: #343a40;
    border: 1px solid #343a40;
    border-radius: 0.25rem;

    @include set-background($light-color);
    &:hover {
      background: lighten($dark-color, 5%);
      color: #fff;
    }
  }
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
